<body class="login">
<div class="root">
    <div class="d-flex flex-column align-items-center">
<h3>Login</h3>
            <form method="post">
                <div class="form-group">
                    <label for="Username">Username</label>
                    <input type="text" id="Username" name="Username" class="form-control" value="@Model?.Username" required />
                </div>
                <div class="form-group">
                    <label for="Password">Password</label>
                    <input type="password" id="Password" name="Password" class="form-control" value="@Model?.Password" required />
                </div>
                <button type="submit" class="btn btn-primary mt-2">Login</button>
                <p class="mt-2">For Users<a href="Users/Login">UsersLogin</a></p>
            </form>

</div>
</div>
</body>